.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 1300px;
    height: 939px;
    background-image: cover;
  }

  .signinContainer {
    position: absolute;
    bottom: 260px;

    .signinBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 420px;
      width: 615px;
      margin: 20px;
      padding: 15px;
      border: 1px solid #dbdbdb;
      background-color: rgba(240, 238, 238, 0.8);
      border-radius: 7px;

      header {
        width: 600px;
        height: 100px;

        .Logo {
          text-align: center;
          font-size: 50px;
        }

        .loginTitle {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          font-size: 20px;
          color: #636162;
        }
      }

      main {
        display: flex;

        .loginInputBox {
          display: flex;
          flex-direction: column;

          .loginFormuserId input {
            width: 280px;
            height: 40px;
            margin: 20px;
            padding-left: 10px;
            border-radius: 7px;
            border: 1px solid #dbdbdb;
            background-color: white;
            outline: none;

            &:focus {
              border-color: #4adaae;
            }
          }

          .loginFormuserPassword input {
            width: 280px;
            height: 40px;
            margin: 20px;
            padding-left: 10px;
            border-radius: 7px;
            border: 1px solid #dbdbdb;
            background-color: white;
            outline: none;

            &:focus {
              border-color: #4adaae;
            }
          }
        }
      }

      .loginFormButton {
        display: flex;
        margin-left: 157px;

        .loginButton {
          width: 150px;
          height: 52px;
          margin-top: 30px;
          color: white;
          background-color: #4adaae;
          border: 1px solid #4adaae;
          border-radius: 7px;
          outline: none;

          &:hover {
            background-color: #118a60;
            border: 1px solid #118a60;
            cursor: pointer;
          }
        }
      }

      .snsLoginForm {
        display: flex;

        .snsLoginFormList {
          button {
            display: flex;
            flex-direction: column;
            width: 280px;
            height: 45px;
            margin: 18px 20px 0px;
            border-radius: 7px;
            font-size: 15px;

            &:hover {
              cursor: pointer;
            }
          }

          .snsLoginFace {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4564a2;
            color: white;
            border: none;

            &:focus {
              outline: 0;
            }
          }

          .snsLoginTwit {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5dabec;
            color: white;
            border: none;

            &:focus {
              outline: 0;
            }
          }

          .snsLoginGoog {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: none;

            &:focus {
              outline: 0;
            }
          }

          .snsLoginKakao {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f9e100;
            border: none;

            &:focus {
              outline: 0;
            }
          }
        }
      }
    }

    footer {
      display: flex;

      .bottomText {
        margin: 25px;
        font-weight: bold;
      }

      .bottomListSignup {
        margin-top: 25px;
        color: #92a4aa;

        &:link {
          // color: #92a4aa;
          text-decoration: none;
          color: #92a4aa;
        }
      }
    }
  }
}
