.signUpLast {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1569748079281-dc67c9569015?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTkzfHxzdHJlZXQlMjBmYXNoaW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;

  .signUpLastWrapper {
    position: absolute;
    bottom: 200px;

    .settingBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 500px;
      width: 615px;
      margin: 20px;
      padding: 15px;
      border: 1px solid #dbdbdb;
      background-color: rgba(240, 238, 238, 0.8);
      border-radius: 7px;

      .settingPicBox {
        display: flex;
        // width: 150px;
        // height: 180px;
        margin-bottom: 280px;
        margin-right: 100px;

        .profilePicture {
          display: flex;
          width: 120px;
          height: 120px;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          border-radius: 50%;
          background-color: rgb(247, 170, 170);
        }

        .profilePicBtn {
          // width: 90px;
          // height: 30px;
          margin-top: 140px;
          margin-right: 100px;
          border-radius: 4px;
          border: 1px solid #666565;
          color: #666565;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
