%signupInfoInput {
  width: 280px;
  height: 40px;
  margin: 5px 20px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #dbdbdb;
  background-color: white;
  outline: none;

  &:focus {
    border-color: #4adaae;
  }
}

%snsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1569748079281-dc67c9569015?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTkzfHxzdHJlZXQlMjBmYXNoaW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;

  .signupContainer {
    position: absolute;
    bottom: 260px;

    .signupBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 420px;
      width: 615px;
      margin: 20px;
      padding: 15px;
      border: 1px solid #dbdbdb;
      background-color: rgba(240, 238, 238, 0.8);
      border-radius: 7px;

      header {
        width: 600px;
        height: 100px;

        .Logo {
          text-align: center;
          font-size: 50px;
        }

        .signupBoxTitle {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          font-size: 20px;
          color: #636162;
        }
      }

      main {
        display: flex;

        .signupInputBox {
          display: flex;
          flex-direction: column;

          .signupUserId input {
            @extend %signupInfoInput;
          }

          .signupUserPw input {
            @extend %signupInfoInput;
          }

          .signinUserNick input {
            @extend %signupInfoInput;
          }

          .signinUsermail input {
            @extend %signupInfoInput;
          }
        }

        .signupFormButton {
          display: flex;
          margin-left: 157px;

          .signupbtn {
            width: 150px;
            height: 52px;
            margin-top: 5px;
            color: white;
            background-color: #4adaae;
            border: 1px solid #4adaae;
            border-radius: 7px;
            outline: none;

            &:hover {
              background-color: #118a60;
              border: 1px solid #118a60;
              cursor: pointer;
            }
          }
        }
        .snsSignupForm {
          display: flex;

          .snsSignupList {
            button {
              display: flex;
              flex-direction: column;
              width: 280px;
              height: 45px;
              margin: 6px 20px 5px;
              padding: 10px;
              border-radius: 7px;
              font-size: 15px;

              &:hover {
                cursor: pointer;
              }
            }

            .snsSignupFace {
              @extend %snsButton;
              background-color: #4564a2;
              color: white;

              &:focus {
                outline: 0;
              }
            }

            .snsSignupTwit {
              @extend %snsButton;
              background-color: #5dabec;
              color: white;

              &:focus {
                outline: 0;
              }
            }

            .snsSignupGoog {
              @extend %snsButton;
              background-color: #fff;

              &:focus {
                outline: 0;
              }
            }

            .snsSignupKakao {
              @extend %snsButton;
              background-color: #f9e100;

              &:focus {
                outline: 0;
              }
            }
          }
        }
      }

      footer {
        display: flex;

        .bottomText {
          margin: 25px;
          font-weight: bold;
        }

        .bottomLinkSignin {
          margin-top: 25px;
        }
      }
    }
  }
}
