@import '../../Styles/commons.scss';

.CommunityMain {
  @extend %flex-center;
  flex-direction: column;
  width: 1198px;
  margin: 0 auto;
  padding-top: 150px;

  .Feeds {
    display: flex;
    flex-flow: column wrap;
    width: inherit;
    height: 2400px;
    overflow: hidden;
  }

  .upScroll,
  .createContent {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 60px;
    z-index: 1000;
    &:hover {
      cursor: pointer;
    }
  }

  .upScroll {
    bottom: 120px;
    opacity: 0.5;
  }

  .createContent {
    bottom: 60px;
  }

  .sectionTitle {
    align-self: flex-start;
    margin-top: 50px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &.active {
      opacity: 0.3;
      background-color: gray;
    }
  }
}
