@import '../../Styles/commons.scss';

.CommunityMain {
  @extend %flex-center;
  flex-direction: column;
  width: 1198px;
  margin: 0 auto;
  padding-top: 150px;

  .Feeds {
    display: flex;
    flex-flow: column wrap;
    width: inherit;
    height: 2400px;
    overflow: hidden;
    z-index: 1500;
  }

  .upScroll,
  .createContent {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 60px;
    z-index: 5000;

    &:hover {
      cursor: pointer;
    }
  }

  .upScroll {
    bottom: 120px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.4;
    &.topEnd {
      display: none;
    }
  }

  .createContent {
    bottom: 60px;
  }

  .sectionTitle {
    align-self: flex-start;
    margin-top: 50px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
  }

  .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: 2200;
    opacity: 0.3;
    background-color: gray;
  }
}
