$border: 0.1rem solid #e8ebed;
$border-radius: 5px;

.CommunityMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 1180px;
  margin: 20px auto;
}
