.CommunityMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1198px;
  margin: 20px auto;

  .Feeds {
    width: inherit;
    height: 2400px;
    display: flex;
    flex-flow: column wrap;
    overflow: auto;
  }

  .upScroll {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 1600px;
    bottom: 60px;
    &:hover {
      cursor: pointer;
    }
  }
}

.sectionTitle {
  margin-top: 50px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
