$border: 0.1rem solid #e8ebed;
$border-radius: 5px;
$feedUnitWidth: 220px;

.FeedUnit {
  width: $feedUnitWidth;
  border: $border;
  border-radius: $border-radius;
  margin-bottom: 20px;
  margin-right: 20px;

  & > img {
    width: 100%;
  }

  .linkedProduct {
    display: flex;
    align-items: center;
    margin: 10px 0;

    img {
      width: 50px;
      height: 50px;
      margin: 0 15px;
      border-radius: $border-radius;
    }

    div {
      .productName {
        font-size: 15px;
        font-weight: 700;
      }

      .price {
        font-size: 13px;
        font-weight: 700;
        & :last-child {
          font-size: 11px;
          color: gray;
        }
      }
    }
  }

  .productInformation {
    display: flex;
    flex-direction: column;

    .eachItem {
      display: flex;
      margin-bottom: 10px;
      margin-top: 10px;
      img {
        width: 50px;
        height: 50px;
        margin: 0 15px;
        background-color: #e8ebed;
        border-radius: $border-radius;
      }

      .text {
        width: auto;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }

  .summary {
    border-top: $border;
    border-bottom: $border;

    .summaryFeed {
      display: flex;
      padding: 10px;
      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
      .InnerBox {
        width: 100%;
        .topText {
          display: flex;
          justify-content: space-between;
          margin: 0px 5px;
          span:first-child {
            font-size: 15px;
            font-weight: 700;
          }
          span:last-child {
            font-size: 13px;
            color: gray;
          }
        }
        .bottomText {
          display: flex;
          justify-content: space-between;
          margin: 10px 5px;
          font-size: 13px;
          color: gray;
        }
      }
      .icons {
        img {
          width: 13px;
          height: 13px;
          filter: opacity(0.2);
          margin-left: 5px;
        }
        span {
          font-size: 13px;
          color: gray;
        }
      }
    }
  }
  .comments {
    display: flex;
    padding: 10px;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    p {
      font-size: 13px;
    }
    span {
      font-size: 13px;
      font-weight: 700;
    }
  }
}
