%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$lightGrayBorder: solid 1px lightgray;

.thumbnailComponent {
  @extend %flexCenter;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  font-size: 14px;

  .productInfoSection {
    width: 1320px;
    margin-top: 150px;

    h1 {
      margin: 50px 0px 10px 0px;
      color: rgb(172, 172, 172);
      font-size: 16px;
    }

    h2 {
      margin: 10px 0px 20px 0px;
      font-size: 24px;
    }

    .productInfo {
      position: relative;

      .orderTabContainer {
        display: flex;
        justify-content: space-between;

        img {
          width: 700px;
          height: 700px;
          margin-right: 100px;
          border-radius: 8px;
          border: $lightGrayBorder;
          object-fit: cover;
        }

        .orderTab {
          width: 450px;
          height: fit-content;
          padding: 32px 24px;
          border-radius: 8px;
          border: $lightGrayBorder;

          p {
            color: #757d86;
          }

          .priceDetail {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            div {
              margin-right: 8px;

              .salePercent {
                margin-right: 5px;
                color: red;
                font-size: 28px;
                font-weight: bold;
              }

              .salePrice {
                color: black;
                font-size: 28px;
                font-weight: bold;
              }
            }

            .orginalPriceContainer {
              display: flex;
              align-items: flex-end;

              .noSalePrice {
                margin-right: 10px;
                color: #757d86;
                text-decoration: line-through;
              }

              #couponDropDownBtn {
                display: none;
              }

              #couponDropDownBtn + label {
                @extend %flexCenter;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border: 0.5px solid lightgrey;
                border-radius: 50%;
                color: rgb(48, 48, 48);
                transform: rotate(0deg);
                transition: transform 0.25s ease-in-out 0s;
              }

              #couponDropDownBtn:checked + label {
                transform: rotate(-180deg);
                transition: transform 0.25s ease-in-out 0s;
              }
            }

            .couponDownloadBtn {
              display: none;
              @extend %flexCenter;
              position: relative;
              width: 110px;
              height: 36px;
              border: 0;
              border-radius: 18px;
              outline: none;
              font-weight: bold;
              cursor: pointer;

              svg {
                width: 16px;
                height: 16px;
              }
            }
          }

          .countLikeReview {
            margin: 25px 0px;

            .likeText,
            .reviewText {
              margin-right: 5px;
              color: #757d86;
            }

            .likeCount,
            .reviewCount {
              margin-right: 10px;
              color: rgb(43, 43, 43);
              font-weight: bold;
            }
          }

          .deliveryContainer {
            margin-bottom: 30px;

            .myPointInfo,
            .deliveryInfo,
            .deliveryNotice {
              display: flex;
              align-items: center;
              margin-top: 10px;
              color: #757d86;
              font-weight: normal;

              .containerTitle {
                width: 80px;
              }

              .boldText {
                color: rgb(43, 43, 43);
                font-weight: bold;
              }

              #deliveryDropDownBtn {
                display: none;
              }

              #deliveryDropDownBtn + label {
                @extend %flexCenter;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border: 0.5px solid lightgrey;
                border-radius: 50%;
                color: rgb(48, 48, 48);
                transform: rotate(0deg);
                transition: transform 0.25s ease-in-out 0s;
              }

              #deliveryDropDownBtn:checked + label {
                transform: rotate(-180deg);
                transition: transform 0.25s ease-in-out 0s;
              }
            }
          }

          .optionDropdownContainer {
            position: relative;
            justify-content: center;
            width: 450px;

            .optionSelectBox,
            .sizeSelectBox {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 410px;
              height: 30px;
              margin-bottom: 10px;
              padding: 12px 20px;
              border: $lightGrayBorder;
              border-radius: 8px;
              outline: none;
              background-color: lightgray;
              font-weight: bold;
              transform: rotate(0deg);
              transition: transform 0.25s ease-in-out 0s;

              &:hover {
                border: 1px solid #757d86;
              }

              &:disabled {
                border: 1px solid rgb(231, 231, 231);
                border-radius: 8px;
                background-color: white;
                font-weight: normal;
              }
            }

            .optionSelectBox:focus svg,
            .sizeSelectBox:focus svg {
              transform: rotate(180deg);
              transition: transform 0.25s ease-in-out 0s;
            }

            .optionList {
              position: absolute;
              top: 60px;
              z-index: 1;
            }

            .sizeList {
              position: absolute;
              top: 130px;
              z-index: 1;
            }

            .optionList,
            .sizeList {
              width: 450px;
              max-height: 200px;
              height: fit-content;
              border: 1px solid rgb(231, 231, 231);
              border-top: 0;
              overflow: hidden;
              overflow-y: scroll;
              color: #50585f;

              .option,
              .sizeOption {
                width: inherit;
                padding: 12px 20px;
                background-color: white;

                &:hover {
                  background-color: lightgrey;
                }
              }
            }
          }
          .addProductList {
            width: 450px;
            margin: 20px 0px;

            p {
              margin: 20px 0px;
              color: black;
              font-size: 16px;
            }
            .countContainer {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .btnContainer {
                .countBtn {
                  width: 24px;
                  height: 24px;
                  padding: 0;
                  border: 0;
                  border-radius: 12px;
                  background-color: none;
                  outline: none;
                  font-size: 16px;
                  cursor: pointer;
                }

                span {
                  margin: 10px;
                  font-size: 16px;
                  font-weight: bolder;
                }
              }

              .addProductPrice {
                margin: 10px;
                font-size: 16px;
                font-weight: bolder;
              }
            }

            .totalPriceContainer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 450px;
              margin-top: 30px;
              padding: 30px 0px;
              border-top: solid 2px lightgray;

              .totalPriceText {
                font-size: 16px;
                font-weight: bolder;
              }
              .totalPrice {
                font-size: 18px;
                font-weight: bolder;
              }
            }
          }
          .submitSection {
            margin-top: 24px;

            .buyBtn,
            .bucketBtn {
              @extend %flexCenter;
              width: 410px;
              height: 56px;
              margin-top: 10px;
              padding: 0px 20px;
              border-radius: 9999px;
              outline: none;
              font-size: 16px;
              font-weight: bolder;
              cursor: pointer;
            }

            .buyBtn {
              border: 1px solid #3cdfbf;
              background-color: white;
              color: #3cdfbf;

              &:hover {
                background-color: #3cdfbf;
                color: white;
              }
            }

            .bucketBtn {
              border: 1px solid #3cdfbf;
              background-color: #3cdfbf;
              color: white;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }

    .brandSection {
      display: flex;
      align-items: center;
      width: 700px;
      height: 120px;
      margin-top: 24px;
      border: $lightGrayBorder;
      border-radius: 8px;
      font-weight: bolder;

      img {
        width: 238px;
        height: 118px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      .brandWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 480px;
        padding: 0px 20px;

        .brandName {
          font-size: 18px;

          .brandProducts {
            margin-top: 10px;
            color: darkgray;
            font-size: 14px;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          transform: rotate(-90deg);
        }
      }
    }
  }
}
