.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 5000px;
  z-index: 2200;
  opacity: 0.3;
  background-color: gray;
}
